*{
    box-sizing: border-box;
}
body{
    margin:0px;
}
#head{
    background-color:#f4511e;
    height:100px;
    position:relative;
    width:100%;
}

#logo,#desc{
    position:absolute;
    color:white;
}
#logo{
    font-family:'Snap ITC';
    bottom:6px;
    font-size: 30px;
    left:15px;
    max-width: 60%;
}

#desc{
    font-size:18px;
    right:15px;
    max-width: 40%;
    bottom:8px;
}

.navigbar{
    background-color: darkslategray;
    font-size:17px;
    font-weight:400;
    font-family:sans-serif;
}

.navmenu{
    padding:10px;
    display: inline-block;
    color:darkgrey;
}
.navigbar #active{
    background: black;
    color:white;
}

.navmenu.right{
    float:right;
}
#logintable{
    width:30vw;
    position: absolute;
    right:5px;
    margin-top:12px;
    border-radius:8px;
    border:2px #f4511e solid;
    background-color: darkslategray;
    z-index: 3;
}

.loginbar,#submit{
    margin:12px;
    margin-bottom:0px;
    border-radius: 0px;
}
.loginbar{
    border-bottom:2px #f4511e solid;
    color: white;
}
#submit{
    background-color: red;
    color: white;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 12px;
    padding-top:5px;
}

input,#filtersbutton{
    background-color:darkslategray;
    border:none;
    font-size: 15px;
    border-radius: 3px;
    height:40px;
}

#bar1{
    display: none;
}

@media screen and (max-width: 767px) {
    #logintable{
        right:10px;
        left:10px;
        /* Firefox */
        width: -moz-calc(100% - 20px);
        /* WebKit */
        width: -webkit-calc(100% - 20px);
        /* Opera */
        width: -o-calc(100% - 20px);
        /* Standard */
        width: calc(100% - 20px);
    }
    .navmenu{
        width:100%;
        text-align: center;
        background-color:darkslategrey;
    }
    #bar1{
        display: block;
    }
    #bar2{
        display: none;
    }
}
@media screen and (min-width: 767px) {
    #bar1{
        display: none;
    }
    #bar2{
        display: block;
    }
}
.navmenu:hover{
    color:white;
}

#content{
    margin:15px 15px;
    font-size: 17px;
}
.canteenname{
    display: inline-block;
    background-color: #f4511e;
    color:white;
    text-align: center;
    border:3px white solid;
}
.canteennamebig{
    font-size:40px;
}

table{
    width:98%;
    font-size: 16px;
    align-content: center;
    margin:auto;
}
button{
    background-color: rgba(255,255,255,0);   border:none;
}
