{% load static %}
{% load extras %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Canteen Name</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Linking the icon library used for the hamburger menu -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="{%static 'polls/main-style.css'%}">

  <!-- Optional JS Stuff -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script>
    /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      }
      else {
        x.className = "topnav";
      }
    }
  var row_id;
    /* for the increment/decrement quantity thing */
    function increaseValue(box_id) {
      var value = parseInt(document.querySelector('#item_box'+box_id+' .button-number').innerText);
      value++;
      document.querySelector('#item_box'+box_id+' .button-number').innerText = value;
    }

function decreaseValue(box_id) {
  var value = parseInt(document.querySelector('#item_box'+box_id+' .button-number').innerText);
  value--;
  if(value<0)
    value=0;
  document.querySelector('#item_box'+box_id+' .button-number').innerText = value;
}

var search_value;
      function search_bar(search_value){
           boxes=document.querySelectorAll(".item_box .item_name");
           for(var j=0;j<boxes.length;j++){
                  document.querySelectorAll(".item_box")[j].style.display="block";
           }
           for(var j=0;j<boxes.length;j++){
              if(!boxes[j].innerHTML.toLowerCase().includes(search_value.toLowerCase())){
                  document.querySelectorAll(".item_box")[j].style.visibility="collapse";
              }
           }
      }
      var a, b;
      function removeElement(a,b)
        { console.log(b);
             if(a==1)
                {document.querySelector(".row"+b).style.display= "none";
                 document.querySelector(".ext"+ b+" "+".down").style.display="inline-block";
                 document.querySelector(".ext"+ b+" "+"      .up").style.display="none";
                }
             else
                 {document.querySelector(".row"+b).style.display= "flex";
                  document.querySelector(".ext"+ b+" "+".up").style.display="inline-block";
                  document.querySelector(".ext"+ b+" "+"      .down").style.display="none";
                }
      }
      var element_id;
      var c;
      var price;
      var orders=[];
      var order_length=0;

      function remove_element(element_id){
          for(i=0;i<orders.length;i++){
            if(orders[i][0]==element_id){
              orders.splice(i,1);
              break;
            }
          }
      }

      function add_or_remove(c){
        console.log(c);
        if(document.getElementById("add_or_remove"+c).innerText=="Add"){
            if((number=parseInt(document.querySelector("#item_box" + c + " .button-number").innerHTML))>0){
                document.getElementById("add_or_remove"+c).innerText="Remove";
                document.getElementById("add_or_remove"+c).style.color="Red";
                document.getElementById("add_or_remove"+c).style.borderColor="Red";
                orders.push([c,number]);
            }
        }
        else{
          document.getElementById("add_or_remove"+c).innerText="Add";
          document.getElementById("add_or_remove"+c).style.color="Green";
          document.getElementById("add_or_remove"+c).style.borderColor="Green";
          remove_element(c);
        }
      }
      var nc_id;
      function submitted(nc_id){
          document.getElementById("order_details").value="["+nc_id+',['+orders+"]]";
      }


  </script>


</head>

<body>
  <div class="topnav" id="myTopnav">
    <a href="#">Night Owl</a>
    <a href="#">Page 1</a>
    <a href="#">Page 2</a>
    <div class="float-right">
      <a href="#"><i class="fa fa-shopping-cart"> Cart</i></a>
    </div>

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  {% if nc_id == 1 %}
    <div class="css-jumbotron text-center">
      <h1>Canteen Name, Block 3</h1>
      <p>Contact Number: xxxxxxxxxx</p>
    </div>
  {% elif nc_id == 2 %}
    <div class="css-jumbotron text-center">
      <h1>Canteen Name, Block 7</h1>
      <p>Contact Number: xxxxxxxxxx</p>
    </div>
  {% elif nc_id == 3 %}
    <div class="css-jumbotron text-center">
      <h1>Canteen Name, Girl's Block</h1>
      <p>Contact Number: xxxxxxxxxx</p>
    </div>

  <!-- else return 404 -->
{% endif %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
<div class="content">
<input id="searchbar" type="text" class="search" placeholder="Search here" oninput="search_bar(this.value)">
      {%sort_by_filter dishes as groupedbyfilters%}
      {%for bar in groupedbyfilters%}
      <div class="NCName">
              {{bar.0.filter.name}}
              <span class="menuExtension ext{{forloop.counter}}"><button class="up" onclick="removeElement(1,'{{forloop.counter}}')"><i class="fa fa-chevron-up"></i></button>
              <button class="down" onclick="removeElement(0,'{{forloop.counter}}')">
              <i class="fa fa-chevron-down" ></i></button>
              </span>
      </div>
      <div class="row row{{forloop.counter}}">
      {%for item in bar|sort_by_price %}
      <div class="col-xs-12 col-sm-6 col-md-4 item_outerbox">
        <div class="item_box" id="item_box{{item.id}}">
          {%if item.veg == True%}
            <img class="veg" src="{%static 'polls/veg.jpg'%}">
          {%else%}
            <img class="veg" src="{%static 'polls/non-veg.png'%}">
          {%endif%}
          <span class="item_name">{{item.name}}</span><br>
          <span class="item_cost">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rs {{item.price}}</span><br>
          <div class="increase_decrease">
            <span class="value-button decrease" onclick="decreaseValue({{item.id}})" value="Decrease Value">-</span>
            <span class="button-number">0</span>
            <span class="value-button increase" onclick="increaseValue({{item.id}})" value="Increase Value">+</span>
          </div>
            <button class="add_or_remove" id="add_or_remove{{item.id}}" onclick="add_or_remove({{item.id}})">Add</button>
        </div>
      </div>
    {%endfor%}
    </div>
    {%endfor%}

    <!-- JUST FOR NOW: NO NEED OF SUBMISSION: SEE HOW DATA IS STORED IN ANOTHER INPUT WHEN PROCEED TO PAY IS CLICKED -->

    <!-- <form action="" method="post"> -->
        <!-- {% csrf_token %} -->
        [nc_ID, [dish_id, number_of_dishes, dish_id, number_of_dishes ]]
          <input type="text" id="order_details" name="order_details" style="" value="">
          <input type="submit" value="Proceed to pay" onclick="submitted({{nc_id}})">
    <!-- </form> -->
</div>
    <div style="background-color: black;color:white;text-align: center;position: sticky;bottom: 0px;


                ">3 items in cart</div>
</body>

</html>
