{%if cart.nc_id %}
  {%if cart.items|length > 2 %}
  <div class="cart_content">
    {% for item in cart.items%}
        {% if item.1.NC_ID == nc_id %}
          <div class="cart_row cart_row{{item.0}}">
            <div class="cart_left">
              <div class="cart_dish_name">
              {{item.1.name}}
              </div>
              <div class="cart_quantity"><span id="cart_quantity{{item.0}}">{{item.1.quantity}}</span> Nos.</div>
            </div>
            <div class="cart_right">Rs {%widthratio item.1.quantity 1 item.1.price%}</div>
          </div>
        {% endif %}
    {% endfor %}
  </div>
  <div class="submit_button">
    <form action="{% url 'night_owl:NC Checkout' %}" method="post">
      {% csrf_token %}
        <input type="hidden" id="nc_id" name="nc_id" value="{{ nc_id }}">
        <input type="submit" class="btn btn-primary" style="margin-top: 5px;" value="Checkout">
    </form>
  </div>
  {%else%}
    <div id="empty_cart"><center><i class="fa fa-shopping-cart" style="font-size:30px;"></i></center><br>Cart is empty</div>
  {%endif%}
{%elif cart.items|length > 0 %}
  <div class="cart_content">
    {% for item in cart.items%}
        {% if item.1.NC_ID == nc_id %}
          <div class="cart_row cart_row{{item.0}}">
            <div class="cart_left">
              <div class="cart_dish_name">
              {{item.1.name}}
              </div>
              <div class="cart_quantity"><span id="cart_quantity{{item.0}}">{{item.1.quantity}}</span> Nos.</div>
            </div>
            <div class="cart_right">Rs {%widthratio item.1.quantity 1 item.1.price%}</div>
          </div>
        {% endif %}
    {% endfor %}
  </div>
  <div class="submit_button">
    <form action="{% url 'night_owl:NC Checkout' %}" method="post">
      {% csrf_token %}
        <input type="hidden" id="nc_id" name="nc_id" value="{{ nc_id }}">
        <input type="submit" class="btn btn-primary" style="margin-top: 5px;" value="Checkout">
    </form>
  </div>
{%else%}
  <div id="empty_cart"><center><i class="fa fa-shopping-cart" style="font-size:30px;"></i></center><br>Cart is empty</div>
{%endif%}
  
  
