{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Checkout</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{%static 'night_owl/checkout-style.css'%}">
    
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark"> 
        <a class="navbar-brand" href="{% url 'night_owl:Home' %}">Night Owl</a>

        {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto" style="color: white;">
            <span>{{ user }}</span>
            <span><a href="/accounts/logout/" style="color: white; margin-left: 5px;">Logout</a></span>
        </ul>
        {% else %}
        <ul class="navbar-nav ml-auto">
            <a href="/accounts/login/" style="color: white;">Login</a>
        </ul>
        {% endif %}

    </nav>

    <div class="jumbotron jumbotron-fluid text-center">  <!-- BootStrap's jumbotron class for big titles-->
        <div class="container">
            <h1>Order Failure</h1>
        </div>
    </div>
    
    <div style="text-align: center; margin-top: 20px;">
        <h3>Your order could not be placed.</h3>
        <h5>{{ e }}</h5>
        <a href="{% url 'night_owl:Home' %}" class="btn btn-success" style="margin-top: 10px;">Back to Home Page</a>
    </div>



