{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link href="{%static 'main/css/bootstrap.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{%static 'main/basestyle.css'%}">
    <title>{{title}}-Nightowl</title>
    {%block js%}{% endblock %}
</head>
<body>
    <div id="head">
        <div id="logo"><b>NIGHTOWL</b></div>
        <div id="desc">THE NITK NIGHT CANTEEN APP</div>
    </div>
    <div class="navigbar" id="bar1" style="height:40px;">
        <span class="navmenu right">
            <button onclick="dropdownmenu()" style="float:right;">
                <i class="glyphicon glyphicon-menu-hamburger"></i>
            </button>
        </span>
    </div>
    <div  class="navigbar" id="bar2">
        <a href="/">
            <span class="navmenu" id="active">HOME</span>
        </a>
        <a href="/menus">
            <span class="navmenu">MENUS</span>
        </a>
        <a href="#">
            <span class="navmenu">CALL US</span>
        </a>
        <span class="navmenu right">
                <button onclick="showlogin()" style="background-color: rgba(0,0,0,0);border:none">
                    <i class="glyphicon glyphicon-log-in"></i>&nbsp;Login
                </button>
                        <table id="logintable" style="display:none;">
                        <tr><td><form><input id="username" type="text" placeholder="Username" class="loginbar"></form></td></tr>
                        <tr><td><form><input id="password" type="password" placeholder="Password" class="loginbar"></form></td></tr>
                        <tr><td><div id="submit">Submit</div></td></tr>
                        </table>

            </span>
        <a>
            <span class="navmenu right"><i class="glyphicon glyphicon-shopping-cart"></i></span>
        </a>
    </div>
    {%block content%}{%endblock%}
    </body>
</html>